    <nav class="navbar navbar-expand-lg navbar-dark" style='background-color:rgb(185, 43, 86)'>
    <a class="navbar-brand" href="#">Yelp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Add new review", new_restaurant_review_path(@restaurant), class: "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>  
  
  <div class="container">
  
    <h1><%= @restaurant.name %> </h1>
    <h4><%= @restaurant.category %> </h4>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
    <br>
    <h4>Reviews:</h4>
    <ul>
    <% @restaurant.reviews.each do |review| %>
      <li>
      <p><%= review.content %> (<%= review.rating %>)</p>
      </li>
    <% end %>
    </ul>

    <%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>
  </div>
  